body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
a {
  text-decoration: none;
}

.icon {
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icon/play.png");
}

.playing {
  .play {
    background-image: url("/icon/pause.png") !important;
  }
}
.playing.icon {
  background-image: url("/icon/pause.png") !important;
}
//
//.pause {
//  background-image: url("/icon/pause.png");
//}
//
//.go {
//  background-image: url("/icon/play.png");
//}

.slash {
  .current_time::after {
    margin: 0 5px;
    content: "/";
  }
}
.b_mini_player, .play {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;

  &:hover, &:focus {
    background-color: #bfc1c3;
  }
}


.b_player {
  width: 350px;
  height: 54px;
  margin-top: 20px;
  border: 1px solid #bfc1c3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .previous, .next {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("/icon/next.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover, {
      background-color: #bfc1c3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
      background-color: white;
    }
  }
  .previous {
    transform: scale(-1, 1);
  }

  .play {
    &:disabled {
      opacity: 0.5;
      cursor: default;
      background-color: white;
    }
  }


  .time {
    display: flex;
    justify-content: center;
    width: 90px;
    margin-left: 10px;

    .current_time {
      width: 48px;
      display: flex;
      justify-content: end;

    }

    .duration {
      width: 42px;
      display: flex;
      justify-content: start;
    }

  }

  .bar {
    width: 90px;
    position: relative;
    cursor: pointer;
    padding: 5px 0 10px;

    .slider {
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #bfc1c3;
      border-radius: 2px;
    }

    .ruler {
      position: absolute;
      height: 5px;
      background-color: dimgray;
      border-radius: 2px;
    }
  }
}

.b_list_mini_players {
  padding: unset;
  list-style-type:  none;

  .playing {
    background-image: url("/icon/pause.png") !important;
  }

  li {
    width: 350px;
    height: 54px;
    margin-top: 20px;
    border: 1px solid #bfc1c3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: unset;

    .b_mini_player {
      margin-left: 30px;
    }
  }
  .playing {
    background-image: url("/icon/pause.png") !important;
  }
}
.test {
  width: 350px;
  height: 54px;
  margin-top: 20px;
  border: 1px solid #bfc1c3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: unset;

}
